[Desktop Entry]
Name=FreshbooksTimer
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/FreshbooksTimer/FreshbooksTimer.qml
Icon=img/icon.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
